[Unit]
Description=Install Flatpaks
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/bin/flatpak
Documentation=man:flatpak-install(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak install -y
RemainAfterExit=true
Restart=on-failure
RestartSec=30

StartLimitIntervalSec=600
StartLimitBurst=3

[Install]
WantedBy=multi-user.target